.link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
}

.link-div1, .link-div2, .link-div3{
    /* padding: 10px 1rem 10px 1rem; */
    padding: 10px;
    margin: 1rem  5px 1rem 5px; 
    /* background-color: whitesmoke; */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    background-color: #ebeced;
max-width: 500px;
min-width: 300px;
box-shadow: 0 0px 6px  rgba(255, 255, 255, 0.76); 
backdrop-filter: blur(10px);
cursor: pointer; 
gap: 5px;
}

.link-div1:hover, 
.link-div2:hover, .link-div3:hover{
    background-color: white;
    transition: 0.5s ;
}

.heading-h2{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 10px;
    user-select: none;

    
}

.heading-h2 h2{
    margin: 0;
    padding: 0;
}




p{
    margin: 0;
    font-size: 12px;
    text-align: center;
    max-width: 400px;
    user-select: none;

}



.link-button{
  background-color: #0e151c; 
  width: 70%;
  color:#ebeced ;
  padding: 5px 0px 5px 0px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}



.link-button:hover{
  background-color: transparent;
  color: #0e151c;

}


.link-div1 a, .link-div2 a, .link-div3 a{
width: 70%;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
}


@media screen and (max-width: 700px) {
 
    .link-div1{
        margin-top: 15px;
    }

}




  

  @keyframes lefttoright1 {
    from {
      opacity: 0;

      transform: translateY(50px);
    }
    to {
      opacity: 1;

      transform: translateX(0);
    }
  }
  
  .animate-left1 {
    animation: lefttoright1 1s ease-out forwards;
  }

  @keyframes lefttoright2 {
    from {
      opacity: 0;
display: hidden;
      transform: translateY(50px);
    }
    to {
      opacity: 1;

      transform: translateX(0);
    }
  }
  
  .animate-left2 {
    animation: lefttoright2 2s ease-out forwards;
  }



  @keyframes lefttoright3 {
    from {
      opacity: 0;

      transform: translateY(50px);
    }
    to {
      opacity: 1;

      transform: translateX(0);
    }
  }
  
  .animate-left3 {
    animation: lefttoright3 3s ease-out forwards;
  }

  /* @keyframes righttoleft {
    from {
      opacity: 0;
      scale: 0.8;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      scale: 1;

      transform: translateX(0);
    }
  }
  
  .animate-right {
    animation: righttoleft 0.8s ease-out forwards;
  } */


